/* CT colours
light grey: rgb(239, 239, 244)
lighter grey: rgba(239, 239, 244, 0.5)
dark grey: rgb(102, 102, 102)
dark blue: rgb(0, 75, 122)
blue: rgb(0, 94, 153)
dark red: rgb(150, 30, 27) */

:root {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
#container {
  width: 100%;
  max-width: 620px;
}
#title {
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(0, 75, 122);
}
#description {
  font-size: 1rem;
  color: rgb(102, 102, 102);
}
#copyright {
  position: absolute;
  font-size: .7rem;
  color: rgb(102, 102, 102);
  opacity: 0.75;
}
#copyright:hover, a:hover {
  color: rgb(0, 75, 122);
  opacity: 1;
}
#copyrightDetail {
  position: absolute;
  left: 1rem;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(102, 102, 102);
  color: white;
  font-size: .7rem;
  opacity: 0;
  pointer-events: none;
}
#source, a {
  text-decoration: none;
  text-align: right;
  font-size: .7rem;
  color: rgb(102, 102, 102);
}
